
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../_fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('../_fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Light';
    src: url('../_fonts/Gotham-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}		

* {
	margin:0;
	padding:0;
	list-style:none;
}

:focus, :active {  
    outline: 0;  
} 

html {
	/* always show scrollbars */
	
}

html, body {

	position: relative;
	margin: 0;
	padding: 0;
	background: #000000;
	width: 100%;
	height: 100%;
	
	border: none;
	
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -ms-text-size-adjust: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none; 
	-webkit-backface-visibility: hidden;
	
	/*min-width: 720px;*/
	z-index: 200;
	
	overflow: hidden;

}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h2 {
	font-family: 'Gotham-Book', Arial, Helvetica, sans-serif;	
	font-size: 18px;
	/*font-weight: 400;*/
	color: #ffffff;
	line-height: 23px;
	margin-bottom: 30px;
	letter-spacing: 2px;
}


ul {
	margin-left: 15px;
	margin-bottom: 25px;
}

ol {
	margin-left: 20px;
	margin-bottom: 25px;
}

	ul li {
		list-style: outside disc;
		padding: 0px 0 0px 0;
	}
	
	ol li {
		list-style: outside decimal;
		padding: 0px 0 0px 0;
	}
	

img {
	border: 0;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	font-family: 'Gotham-Book', Arial, Helvetica, sans-serif;	
	font-size: 12px;
	color: #999999;
	line-height: 19px;
	margin-bottom: 30px;
}


a:link, a:visited, a:active {
	color: #bad001;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[href^=tel]{
    color:inherit;
    text-decoration:none;
}

.clear {
	clear: both;
	height: 1px;
	
	/* IE HACK */
	font-size: 0px;
	line-height: 0px;
	
	_display: none;
}

.inside {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.button, a.button {
	display: inline-block !important;
	
	font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*font-weight: 700;*/
	line-height: 15px;
	color: #bad001 !important;
	padding: 8px 15px 8px 15px;
	text-align: center;
	letter-spacing: 1px;
	
	background: transparent;
	border: 1px solid #bad001;
	
	outline: none;
	
	
	/*
	background: #fd7b01;
	background: linear-gradient(top , #ff9504 0%, #fd7800 100%);
	background: -moz-linear-gradient(top , #ff9504 0%, #fd7800 100%);
	background: -webkit-linear-gradient(top , #ff9504 0%, #fd7800 100%);
	*/
}

	.button:hover, a.button:hover {
		text-decoration: none;
		cursor: pointer;
	}
	
.gotham-bold {
	font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
}
	

/* STRUCTURE  */

#frch-wrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;	
}

#frch-header {
	position: fixed;
	width: 100%;
	height: 44px;
	background: #ffffff;
	z-index: 800;
}

#frch-logo {
	position: absolute;
	top: 10px;
	left: 24px;	
	z-index: 800;
}

	#frch-logo img {
		width: 200px;	
	}
	
#frch-tagline {
	position: absolute;
	top: 14px;
	right: 24px;
	
	font-family: 'Gotham-Book', Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*font-weight: 400;*/
	color: #666666;
	line-height: 17px;
	letter-spacing: 1px;
	width: 90%;
}

	#frch-tagline span {
		top: -3px;
		right: 81px;
		position: absolute;
		display: inline-block;
		width: 2px;
		height: 23px;
		background: #bad001;	
	}
	
	#frch-tagline a, #frch-tagline a:hover {
		text-decoration: none;
		color: #000000;
		padding-left: 16px;
		letter-spacing: 1px;
	}
	
	.contact-header {
		position: relative;
		float: right;
		display: block;	
		width: 70%;
		height: 20px;
		margin-right: 8px;
		overflow: hidden;
	}
	
		.contact-name, .contact-details {
			position: absolute;
			top: 0;
			right: 0;
			text-align: right;
		}
		
		.contact-name:hover, .contact-details:hover {
			cursor: pointer;	
		}
		
		.contact-details {
			display: none;	
		}
		
		.contact-details a {
			padding: 0 !important;	
		}
	
	.contact-url {
		font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
		float: right;	
	}


#frch-contact {
	display: none;
	position: fixed;
	top: 20px;
	right: 38px;
	width: 220px;
	height: auto;
	
	background: #e8e8e8;
	z-index: 950;	
	
	font-family: 'Gotham-Book', Arial, Helvetica, sans-serif;	
	font-size: 12px;
	color: #888888;
	line-height: 17px;
	margin-bottom: 30px;
	text-align: left;
	
	/*
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	*/
}

	#frch-contact div {
		padding: 20px;
		padding-top: 15px;
	}
	
	#frch-contact .pointer {
		padding: 0;
		position: absolute;
		top: -15px;
		left: 102px;
		width: 15px;
		height: 15px;
		background: transparent url('../_img/bg_pointer.png') bottom center no-repeat;
		background-size: 100%;
	}

	#frch-contact h4 {
		font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;	
		font-size: 11px;
		/*font-weight: bold;*/
		color: #000000;
		line-height: 17px;
		margin-bottom: 0px;
		letter-spacing: 1px;
	}
	
	#frch-contact a {
		color: #888888;	
		text-decoration: none;
	}
	
#frch-contact-cover {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: transparent;
	
	z-index: 940;	
}


#frch-mainnav {
	position: fixed;
	top: 44px;
	width: 100%;
	height: 34px;
	background: #222222;
	z-index: 800;
	overflow: hidden;
}

	#mainnav, #mainnav li {
		margin: 0;
		padding: 0;
		list-style: none;	
	}
	
	#mainnav {
		margin-left: 25px;	
	}
	
	 #mainnav li {
		float: left;
		margin-right: 30px;	 
	 }
	 
	 #mainnav li a {
		font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
		font-size: 10px;
		/*font-weight: 700;*/
		color: #666666;
		line-height: 34px;
		letter-spacing: 1px; 
	 }
	 
	 	#mainnav li a:hover, #mainnav li a:active {
			text-decoration: none;
			color: #ffffff;	
		}
		
		.navselected, .subnavselected {
			color: #ffffff !important;	
		}
		
#frch-subnav {
	position: fixed;
	top: 76px;
	width: 100%;
	height: 0px;
	background: #444444;
	z-index: 800;
	overflow: hidden;
	
}

	.subopen {
		height: 30px !important;
		
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transition: height .5s cubic-bezier(0,.6,.4,1);
		-webkit-transition: height .5s cubic-bezier(0,.6,.4,1);
		transition: height .5s cubic-bezier(0,.6,.4,1);
	}

	.subnav, .subnav li {
		margin: 0;
		padding: 0;
		list-style: none;	
	}
	
	.subnav {
		display: none;
		margin-left: 25px;	
	}
	
	 .subnav li {
		float: left;
		margin-right: 25px;	 
	 }
	 
	 .subnav li a {
		font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
		font-size: 9px;
		/*font-weight: 700;*/
		color: #777777;
		line-height: 30px;
		letter-spacing: 1px; 
	 }
	 
	 	.subnav li a:hover, .subnav li a:active {
			text-decoration: none;
			color: #ffffff;	
		}
	
#frch-holder {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 106px;	
	z-index: 600;
	-webkit-overflow-scrolling:touch;
	overflow-y: scroll;
	overflow-x: hidden;

}

#frch-content {
	position: relative;	
	z-index: 100;
	
}

#loader {
	/*
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	
	width: 50px;
	height: 50px;
	background: #000000 url('../_img/loader.gif') no-repeat center center;
	margin-left: -25px;
	margin-top: -25px;
	
	border-radius: 4px;	
	-moz-border-radius: 4px;	
	-webkit-border-radius: 4px;	
	
	z-index: 999;
	*/
	
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 5px;
	background: #bad001 url('../_img/loader_candycane.gif') repeat-x center center;
	
	z-index: 999;
}
	

/* HOME */



.box {
	display: none;
	padding: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	background: transparent;
	height: auto;
	top: 0;
	left: 0;
	/*float: left;
	border: 1px solid #888888;*/
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	
	overflow:hidden;	
	
	-webkit-transform: translate3d(0, 0, 0);
   -moz-transition: opacity .5s linear;
   -webkit-transition: opacity .5s linear;
    transition: opacity .5s linear;
}

	.box img {
		min-width: 100%;
		max-width: 100%;	
	}
	
	.box:hover {
		cursor: pointer;	
	}
	
	
	
.overlay {
	display: none;
	position: absolute;
	width: 100.5%;
	height: 100.5%;
	z-index: 50;
	text-align: left;
	opacity: 0;	
	
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transition: opacity .2s linear;
   -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

	.overlay:before {
		 content: '';
		 display: inline-block;
		 height: 100%; 
		 vertical-align: middle;
	}

	.overlay .text {		
		position: relative;
		display: inline-block;
		width: 75%;
		margin-left: 23px;
		
		vertical-align: middle;		
		z-index: 100;
	}	
	
	.overlay h3 {
		font-family: "Times New Roman", Times, serif;	
		font-size: 24px;
		font-weight: normal;
		font-style: italic;
		color: #333333;
		line-height: 26px;
		margin-bottom: 6px;
	}
	
	.overlay h5 {
		font-family: 'Gotham-Book', Arial, Helvetica, sans-serif;	
		font-size: 12px;
		/*font-weight: 400;*/
		color: #555555;
		line-height: 16px;
		margin-bottom: 8px;
		letter-spacing: 2px;
	}

	.overlay .bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #ffffff;
		opacity: 0.8;
	}
	
	
/* DETAIL */

.icon-close {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	width: 14px;
	height: 14px;
	z-index: 999;
}

	.icon-close:hover {
		opacity: 0.7;
	}

	.icon-close img {
		width: 100%;	
	}
	
#frch-detail-bg {
	display: none;
	position: fixed;
	
	top: 106px;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0;
	z-index: 650;
	
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transition: opacity .2s linear;
   -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;	

}

#frch-detail {
	display: none;
	position: fixed;
	/*margin-top: 30px;*/
	top: 106px;
	left: 0;
	
	width: 100%;
	height: 100%;
	/*min-height: 100%;*/
	
	z-index: 700;
	opacity: 0;
	
	overflow: hidden;
	/*overflow-x: hidden;*/

	-webkit-transform: translate3d(0, 0, 0);
   -moz-transition: opacity .2s linear;
   -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;

}

	/*scrollbars */
	#frch-detail ::-webkit-scrollbar {
		height: 10px;
		width: 10px;
		background: transparent;
		margin: 10px;
		}
	
	#frch-detail ::-webkit-scrollbar-track {
		/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
		border-radius: 10px;
	}
		
	#frch-detail ::-webkit-scrollbar-thumb {
		/*
		background: -webkit-linear-gradient(right , #666666 0%, #444444 100%); 
		-webkit-border-radius: 5px;
		*/
		background: #222222; 
		-webkit-border-radius: 5px;
		border: 1px solid #555555;
	}
	#frch-detail ::-webkit-scrollbar-corner {
		background: transparent;
	}
	
	
	/*
	#frch-detail .bg {
		position: absolute;
		width: 100%;
		height: 100%;
		background: #000000;
		opacity: 0.85;
	}
	*/
	
	#frch-detail .content {
		position: relative;
		top: 0;
		left: 0;
		padding: 0;
		padding-top: 30px;	
	}
	
	#frch-detail .columnOne {		
		width: 60%;
		float: left;
		padding-bottom: 30px;	
	}
	
		#frch-detail .columnOne img {
			max-width: 100%;
			min-width: 100%;	
		}
	
	#frch-detail .columnTwo {
		width: 32%;
		margin-left: 30px;
		float: left;
		padding-bottom: 30px;	
		
	}
	
		#frch-detail .columnTwo .text {
			height: 0px;
			padding-bottom: 110%;
			overflow-y: scroll;
			padding-right: 10px;
		}
		
			#frch-detail .columnTwo .text .inner {
				margin-bottom: -110%;	
			}
	
		#frch-detail h2 {
			position: relative;
			padding-left: 15px;	
			margin-top: 7px;
		}
	
		#frch-detail h2 span {
			position: absolute;
			top: -7px;
			left: 0;
			
			display: inline-block;
			width: 2px;
			height: 37px;
			background: #999999;	
		}
		
	.flexslider {
		-webkit-transform: translate3d(0, 0, 0);
   		-moz-transition: opacity .25s ease-in-out;
   		-webkit-transition: opacity .25s ease-in-out;
    	transition: opacity .25s ease-in-out;	
	}
		
	.flexslider .slides {		
		width: 100%;
		min-width: 100%;
		height: auto;
		min-height: 75%;
	
	}
		
		
#frch-footer {
	/*
	position: fixed;
	bottom: 0px;
	*/
	display: none;
	position: relative;
	width: 100%;
	height: 40px;
	background: #ffffff;
	z-index: 990;
	overflow: hidden;
		
}

	#frch-footer div {
		display: block;
		position: absolute;
		top: 0px;
		right: 25px;
		
		font-family: 'Gotham-Book', Arial, Helvetica, sans-serif;	
		font-size: 11px;
		color: #666666;
		line-height: 40px;
		vertical-align: middle;
		letter-spacing: 1px;
	}
	
	#frch-footer span {
		display: inline-block;
		width: 2px;
		height: 14px;
		/*background: #bad001;*/
		background: #dddddd;
		margin: 0px 8px 0 8px;	
		vertical-align: middle;
	}
	
	#frch-footer a {
		font-family: 'Gotham-Bold', Arial, Helvetica, sans-serif;
		color: #000000;
		text-decoration: none;
	}


	
/* FORMS */

input[type="text"], input[type="password"], input[type="file"] {
	padding: 4px;
	margin-top: 5px;
	margin-bottom: 15px;
	
	box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
}

select, input[type="text"], textarea {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 13px;	
}

textarea {
	padding: 4px;	
}

input[type="submit"], button, input[type="button"] {
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none; 
	outline: none;
	outline: 0;
}

